<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img id="logo" alt="Logo" src="/assets/EasyCallSheets-Logo.png" />
      </a>
    </div>
  </div>
</nav>
