$navbar-default-bg: #3a97d4;
$light-blue: #3a97d4;
$navbar-default-color: $light-blue;
$navbar-height: 90px;
$btn-default-bg: #EDF3F7;
$navbar-margin-bottom:0;
$well-bg:#FFFFFF;
$input-border:#B0EBFC;
$input-color:#60676A;
$btn-default-bg:#7DD5C9;
$btn-default-color:#FFFFFF;
$background: #EDF3F7;
$darktext:#344E5E;
$titleblue:#4D99C3;




@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

h1{
  font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color:#61A4C9;
  
}
.title{
  height:100px;
  background-color:#FFFFFF;
  padding-top:30px;
  padding-left:20px;
  margin-top:none;
  color:#61A4C9;
  margin-bottom:20px;
  font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
.no_call_sheets{
  text-align: center;
  margin-top: 200px;
}
.no_call_sheets h3{
  display:inline;
}

#call_sheet_btn{
  margin-top:20px;
}

.archive{
  margin-top:19px;
  color:#770E0E;
  font-weight:600;
}

.archive-btn{
  margin-top:100px;
  margin-left: 35%;
  background-color:#757a80;
  width:40%;
  height:40%;
}
.archived{
  background-color:#A00000;
  width: 220px;
  height: 44px;
  color:#FFFFFF;
  text-align: center;
  vertical-align: middle;
  position:absolute;
  margin-left:60%;
  margin-top:19px;
}

.archive p{
  padding-top:6px;
}


.sent{
  background-color: #00ff0c;
  width: 220px;
  height: 44px;
  color:$darktext;
  text-align: center;
  vertical-align: middle;
  position:absolute;
  margin-left:60%;
  margin-top:19px;
}
.sent p{
  padding-top:6px;
}

.saved{
  width: 220px;
  height: 44px;
  color:$darktext;
  text-align: center;
  vertical-align: middle;
  position:absolute;
  margin-left:60%;
  margin-top:19px;
}
.saved p{
  padding-top:6px;
}

.hide{
  width: 220px;
  height: 44px;
  color:$darktext;
  text-align: center;
  vertical-align: middle;
  position:absolute;
  margin-left:60%;
  margin-top:19px;
  display:none;
}
.hide p{
  padding-top:6px;
}

html, body{
  background-color:#EDF3F7;
  font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
#profile{
  background-color: #757a80;
  width: 275px;
  height: 91px;
  margin-right:0;
}
#profile_name{
  padding-top:17px;
  font-size:2em;
  color:#ffffff;
  padding-left:10px;
}
#profile_glyph{
  color: #ffffff;
  font-size:4em;
  font-weight:normal;
  float:right;
  padding-top:17px;
}

.projects_list{
  height:90px;
  background-color:#FFFFFF;
  border:1px solid #D3D4D5;
  margin-top:3%;
  border-radius: 5px 20px 5px;
}

.borders{
  border-radius: 5px 20px 5px;
}

.project_gen_date{
  float:left;
  padding-left:3%;
  padding-top:19px;
  color:$darktext;
  font-size:1.5em;
  font-weight:570;
}

.project_name{
  margin-left:35%;
  position:absolute;
  padding-top:19px;
  color:$darktext;
  font-size:1.5em;
  font-weight:570;
}
.create_call_sheet{
  clear:left;
  margin-top:30px;
}

.top_bar{

}

#logo{
  width: 279px;
  height: 63px;
  padding-bottom:10px;
}

.recipients{
  
}

.recipients hr{
  color:#55D5FB;
}

.add_producer{
  clear:left;
  display:inline;
}

#address{
  float:right;
}

#project_form{
  
}

.float_left{
  float:left;
}

.float_right{
  float:right;
}

.block{
  display:block;
}

#map{
  width: 513px;
  height: 356px;
  float:right;
}
#pano{
  width: 513px;
  height: 310px;
  float:right;
  display:none;
}

#notes{
 clear:right;
 
}

#message{
  width: 513px;
  height: 400px;
}

#director{
  width: 513px;
  height: 94px;
}

#producer{
  width: 679px;
  height: 95px;
}

hr{
  background-color:#62D8FB;
  border-color:#62D8FB;
  color:#62D8FB;
  border:none;
  height:2px;
  margin-top:1px;
}

.inline{
  display:inline;
}

.light-blue{
  color:$titleblue;
}

.main-font{
  font-size:2em;
}

.test{
  color:#55D5FB;
}

