
<% @casts.each do |cast| %>
    <div class="row">
      <div class="col-md-3">
        <p><%= cast.name %></p>
      </div>
      <div class="col-md-3">
        <p><%= cast.character %></p>
      </div>
      <div class="col-md-3">
        <p><%= cast.email %></p>
      </div>
      <div class="col-md-3">
        <p><%= cast.phone_number %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr/>
      </div>
    </div>
            
<%end%>
        
        
            
  